@charset "utf-8";
    body{        
        margin:0px;
    }
    tr{
        height:5vh;
    }
      
    th{
        height:3vh;
        width:3vw;        
        border:1px solid #000;
        text-align:center;
        font-size: calc(0.2vw + 0.2vh + 0.2vmin);
        background:gray;
        border:1px solid #000;
        position: sticky;
        top: 0;
    }
    td{
        height:2vh;
        width:3vw;        
        border:1px solid #000;
        text-align:center;
        font-size: calc(0.1vw + 0.1vh + 0.1vmin);
        
    }
    table tbody tr:hover{
        background-color: lightgray;
        cursor:pointer;
    }
    #table{
        border-collapse:collapse;
        border-spacing: 0;
        height:100vh;        
        display:grid;
        grid-template-rows: 60vh 40vh;
    }
    #outcargotitle{
        display:grid;
        grid-template-columns: 1fr 1fr 0.8fr 0.6fr 0.8fr 2fr 0.8fr;
        grid-column-gap: 1%;
        text-align:center;
        padding-right:5px;
    }
    #dept_date{
        display:grid;
        grid-template-columns:1fr 1fr;
    }
   
    h3{
        border:1px solid black;
        height:4vh;
        margin:0.3px;
        text-align:center;
        vertical-align:middle;
        font-size: calc(0.1vw + 0.1vh + 0.1vmin);
    }
    h4{
        display:flex;
        align-items: center;
        justify-items: center;
        margin:0px;
        height:90%;
        font-size: calc(0.1vw + 0.1vh + 0.1vmin);
    }
    .result_title_input{       
        border:1px solid black;
        height:80%;
        margin:0px;
        padding:0px;
        width:100%;
        text-align:center;
        vertical-align:middle;
        font-size: calc(0.1vw + 0.1vh + 0.1vmin);
        border-radius:3px;
        } 
    .selected {
        background-color: yellow;
        color: black;
        font-weight: bold;
    }
    .confirm-box {
        display :grid;
        grid-template-rows :1fr 1fr;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #fff;
        border: 1px solid #ccc;
        padding: 20px;
        text-align: center;
      }
      
      .confirm-box button {
        margin: 10px;
        padding: 10px 20px;
        border-radius: 5px;
        border: none;
        background-color: #ccc;
        color: #fff;
        cursor: pointer;
      }
      #table_div{
        height:50vh;
        width:100%;
        overflow-y:scroll;
        padding:2px;
      }
      #result1{
        height:30vh;
        width:100%;
        overflow-y:scroll;
        padding:2px;
      }
     
    .tableData{
        width:100%;
        height:100%;
    }
    #results{
        width:100%;
    }
     #outcargo_results{
        width:100%;
      }
      .outcargoResultBtr td{
        height: 100%;        
        border: 1px solid #000;
        text-align: center;
        vertical-align:middle;
        font-size: calc(0.1vw + 0.1vh + 0.1vmin);        
      }
      #outcargo_results tr.active td{
        display:block;
        padding:1px;
    }  
      #picTable{
        /* width:99%;        */
        table-layout: fixed;
        word-break: break-all;
      }
      
      .result_title{
        display:grid;
        grid-template-columns:0.8fr 1.2fr;             
        height:100%;
        text-align:center;
        vertical-align:middle;
        font-size: calc(0.1vw + 0.1vh + 0.1vmin);        
      }
      .result_titleA #out_attachment{
        display:none;
      }
      /* .upLoadLabel{
        width:100%;
        height:100%;
      } */
      .btn_upload{
        background: #fff;
        border: 1px solid rgb(77,77,77);
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        height:80%;
        width:90%;
        font-size:x-small
        
      }
      .btn_upload:hover {
        background: rgb(77,77,77);
        color: #fff;
    }
    .result_titleA{
        display:grid;
        grid-template-columns:1fr 1fr 0.8fr;
        background: linear-gradient(to top, black,5%, rgb(211, 224, 244));
        border-radius:5px;
        padding:2px;
        height:82%;
        margin:2%;
    }.result_titleP{
        display:grid;
        grid-template-columns:1fr 1fr 0.8fr;
        background: linear-gradient(to top, black,5%, rgb(211, 224, 244));
        border-radius:5px;
        padding:2px;
        height:95%;
        margin:4%;
    }
    #out_attachment_del {
        margin:5%;
        font-size:small;
    }
    #file_names{
        font-size:xx-small;
    }
    .inputTdQty,.inputTdPty,.inputTdRemark{
        font-family:"Helvetica Neue";
        color:darkred;
        text-align:center;
        height:4vh;
        width:10vh;
        font-weight:bold;       
    }
      .confirm {
        background-color:beige;
        color: black;
        font-weight: bold;
    }
    #info ,#result {
        display:grid;
        grid-template-rows:15fr 85fr;
        /* height: calc(50vh*0.9); */
        margin:1%;
        border:2px groove black;
        border-radius:5px;
    }
    #resultTitle{
        height:4vh;
        margin:0px;
        font-size: calc(0.1vw + 0.1vh + 0.1vmin);
    }
    #info1{
        padding:0.5%;
    }
    #infoTitle{
        border:1px groove blanchedalmond;
        display:grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 5fr 1fr;
        padding:2px;
        padding-top:10px;
    }
    .infoResult{
        display:grid;
        grid-template-columns: 1.3fr 2fr 2fr;
    }
    .infoResult h5{
        display:flex;
        justify-content: center;
        align-items :center;
        margin:0px;
        word-break:break-word;
    }
    .infoResult h6{
        display:flex;
        justify-content: center;
        align-items :center;
        font-size:x-small;
    }
    #out_date{
        width:80%;
        height:80%;
        margin:0px;
        font-size:xx-small;
    }
    #out_submit{
        width:100%;
        height:80%;
        margin:0px;
        font-size:x-small;
    }
    .tableMain{
        display:grid;
        grid-template-columns: 2fr 1fr;
    } 
   
    .outcargoResult{
        overflow-y:scroll;
        margin:2%;
        width:97.5%;
    }.outcargoResultTitle{
        display:grid;
        grid-template-rows:1fr 0.7fr;       
        margin:2%;
        margin-bottom:0%;
    }
    .subDiv{
        height:0;
        overflow:hidden;
        display:none;
        transition: all 1s;
        margin-bottom:- 10px;
        table-layout:fixed;
        
    }
    .active{
        display:block;
        margin:1.5vh;
        
        /* width:31.7vw; */
        height:auto;
    }
    .active thead{
        table-layout: fixed;
        word-break: break-all;
    }
   
    .active th{
        width:5.4vw;
        background: rgba(170, 224, 242, 0.854);
        border:0.5px dotted black;
    }
    .active td{
        width:5.4vw;
        border:0.5px dotted black;
    }
    .stockMain{
        display:grid;
        grid-template-rows:1.5fr 8.5fr;
        border:2px ridge black;
        border-radius:5px;
        margin:10px;
    }
    .outcargoDate{
        display:grid;
        grid-template-columns:1fr 1fr 1fr 1fr 1fr;
        margin-right:1%;
    }
   
    .outcargoDateS h1,h6{
        display:flex;
        justify-content: center;
        align-items :center;
        font-size:90%;
        font-weight:normal;
    }
    .outcargoDateS{
        display:flex;
        justify-content: center;
        align-items :center;
        width:100%;
        font-weight:bold;
    }
    
    label{
        display:flex;
        justify-content: center;
        align-items :center;
        margin:0px;
    }
    .hidden{
        display:none;
    }
    button ,#out_date{
        background: rgb(208, 216, 222);
        font-size: xx-small;
        height:80%;
        background: linear-gradient(to top, black,5%, rgb(211, 224, 244));
        border-radius:3px;
    }
    #date_picker1,#date_picker2,#date_count,#data_del,#data_trans{
        background: linear-gradient(to top, black,5%, rgb(211, 224, 244));
        font-size: 60%;
        height:60%;
        width:90%;
        border-radius:3px;
    }
    #btn_excelwrite{
        font-size:xx-small;
        margin-top:5%;
        margin-right:10%;
        height:70%;
        cursor:pointer;
        
    }
    .data_delD{
        display:flex;
        align-items:center;
        justify-content: center;
    }
    .resultDiv{
        display:flex;
        justify-content:center;
        align-items: center;
    }
    #consignor{
        text-align:center;
    }
    #consignorDiv,#titleUDiv{
        padding-top:3%;
        padding-left:10%;
        padding-right:10%;
    }
    #date{
        padding-left:20%;
    }
    .popup{
        display:none;
        position:fixed;
        /* top:20%; */
        left:1%;
        /* transform:translate(-50%,-50%); */
        width:33vw;
        height:50vh;
        padding:20px;
        border:2px solid #ccc;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
        z-index: 9999;
        background:#000000;
        border-radius:10px;
    }.popupT{
        display:none;
        /* transform:translate(-50%,-50%); */
        width:100%;
        /* height:30vh; */
        padding:2px;
        border:2px solid #ccc;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
        z-index: 9999;
        /* background:#000000; */
        border-radius:10px;
    }
    .popupA{
        display:none;
        position:fixed;
        top:50%;
        left:50%;
        transform:translate(-50%,-50%);
        width:45vw;
        height:99vh;
        padding:10px;
        border:2px solid #ccc;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
        z-index: 9999;
        background:#000000;
    }
    .disBlock{
        /* display:block; */
        display:table-row;
        /* table-layout: fixed;
        word-break: break-all;
        margin:0.5vh; */
    }
    #fileU{
        display:grid;
        grid-template-columns:3fr 1fr;
    }
    .fileA{
        display:grid;
        grid-template-rows:1fr 1fr;
        background: rgb(184, 207, 242);
        border-radius:5px;
        padding:2px;
        height:82%;
        margin-top:2%;
    }
    #fileDiv{
        height:100%;
        display:grid;
        grid-template-rows:1fr 1fr;
    }
    .result_title_input{
        display:none;
    }
    #fileTitle{
        text-align:center;
        display:grid;
        grid-template-columns:2fr 3fr;
    }
    .imgTd{
        width:13.5vw;
        height:15vh;
    }
    .picTh{
        width:14vw;
    }
    .fileADivBtn{
        display:grid;
        grid-template-columns:1fr 1fr 1fr;
    }
    .filePDiv{
        display:grid;
        grid-template-columns:1fr 1fr 1fr 1fr;
    }
    #tableU{
        display:grid;
        grid-template-rows:3fr 1fr;
    }
    .tableMainU{
        height:100vh;
        display:grid;
        grid-gap:1vh;
        grid-template-rows:65vh 30vh;
    }
    #infoU,#picDiv{
        display:grid;
        grid-template-rows:10fr 90fr;
        height:100%;
        margin:1%;
        border:2px groove black;
        border-radius:5px;
    }
    #picDiv{
        display:grid;
        grid-template-rows:15fr 85fr;
        height:100%;
        margin:1%;
        border:2px groove rgb(255, 255, 255);
        border-radius:10px;
    }
    #fileReset,#fileSubmit{
        margin:3%;
        font-size:small;
    }
    #popTitleA{
        color:#fff;
        font-size:medium;
    }
    #picTableDiv ,#picDiv{
        overflow-x:scroll;
        height:98%;
    }
    #picDivT{
        overflow-x:scroll;
        height:20vh;
    }
    #picTbodyTr{
        height:100%;
    }

    #popBtnDiv{
        display:grid;
        grid-template-columns:0.5fr 1fr 1fr 0.5fr ;
        grid-gap:1vw;
    }
    .popBtn{
        font-size:large;
        font-weight:bold;
        margin:0 auto;
        width:100%;
        border-radius:10px;
    }
    #preBtn,#nextBtn{
        width:70%;
        height:70%;
    }
    #titleDiv{
        display:grid;
        grid-template-columns:9fr 1fr;
    }
    #popUpRemark{
        display:grid;
        grid-template-columns:7.5fr 2.5fr;
    }
   
    .close {
        display:inline-block;
        color:#fff;
        text-align:right;
        }
    .close:after {display: inline-block;content: "\00d7"; font-size:30pt;}
    #picBtn{
        display:grid;
        grid-template-columns:1fr 3fr;
    }
    #popUpSub{
        border-radius:7px;
        font-size:medium;
        height: 100%;
        margin:10%;
    }
    #popUpRemarkBtn{
        border-radius:7px;
        font-size:medium;
        height: 100%;
        margin:2%;
    }

   
   
    
    
    
    
    
    
    
    
    
    